@import "../../styles/index.scss";

.wrapper{
  width: 25px;
  height: 25px;
  border-width: 4px;
  border-style: solid;
  @include no-active;
  &:active{
    border-width: 2px;
    border-style: solid;
    @include active;
  }

  &.open{
    border: 1px solid gray;
  }
}

.img{
  width: 23.9px;
  height: 23.9px;
}