.wrapper{
  width: 90px;
  height: 48px;
  //color: #d92020;
  //background: #020202;
  //display: flex;
  //justify-content: center;
  //align-items: center;
  //text-align: center;
  //font-size: 40px;
}

.number{
  width: 30px;
  height: 48px;
}