@import "../../styles/index.scss";

.wrapper{
  background: #cecbcb;
  padding: 16px;
  border-width: 4px;
  border-style: solid;
  @include no-active;
}

.header{
  background: #c5c2c2;
  padding: 10px;
  border-width: 4px;
  border-style: solid;
  @include active;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
}

.body{
  margin-top: 16px;
  background: #c5c2c2;
  border-width: 4px;
  border-style: solid;
  @include active;
  display: grid;
  grid-template-rows: repeat(16, 1fr);
  grid-template-columns: repeat(16, 1fr);
}

.stop_game{
  pointer-events: none;
}